.type-text {
    font-weight: bold;

    margin-top: 10px;
    margin-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.line {
    border: none;
    border-top: 1px solid #a73535;
    margin: 10px 0;
}

.p-tag {

}

.buttonSearch {
    display: 'flex';
    align-items: 'center';
    justify-content: 'center';
    width: 25px;
    background-color: #00202E;
}

.buttonSearch:disabled {
    background-color:   #888888;
}